force-app/main/default/flows/Update_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Approved</name>
        <label>Assign Approved</label>
        <locationX>815</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>Loan_Application_Record.Loan_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Loan_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Declined</name>
        <label>Assign Declined</label>
        <locationX>806</locationX>
        <locationY>477</locationY>
        <assignmentItems>
            <assignToReference>Loan_Application_Record.Loan_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Loan_Application</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Record_Id_found</name>
        <label>If Record Id found</label>
        <locationX>298</locationX>
        <locationY>342</locationY>
        <defaultConnector>
            <targetReference>Get_Loan_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Id Not Null</defaultConnectorLabel>
        <rules>
            <name>If_Record_Id_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Last_SMS_Contact.TwilioSF__SF_Parent_Record_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>If Record Id  Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_SMS_Yes_or_No</name>
        <label>If SMS Yes or No</label>
        <locationX>689</locationX>
        <locationY>337</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Message.TwilioSF__Body__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approved</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
        <rules>
            <name>If_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Message.TwilioSF__Body__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Declined</targetReference>
            </connector>
            <label>If No</label>
        </rules>
    </decisions>
    <interviewLabel>Update Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Loan_Application</name>
        <label>Get Loan Application</label>
        <locationX>560</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_SMS_Yes_or_No</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_SMS_Contact.TwilioSF__SF_Parent_Record_Id__c</elementReference>
            </value>
        </filters>
        <object>Loan_Application__c</object>
        <outputReference>Loan_Application_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Loan_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Last_SMS_Contact</name>
        <label>Last SMS by Contact</label>
        <locationX>176</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Record_Id_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TwilioSF__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Message.TwilioSF__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TwilioSF__Direction__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>outbound-api</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TwilioSF__Message__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updated_Loan_Application</name>
        <label>Updated Loan Application</label>
        <locationX>943</locationX>
        <locationY>231</locationY>
        <inputReference>Loan_Application_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Last_SMS_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Loan_Application</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Loan_Application_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Application__c</objectType>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TwilioSF__Message__c</objectType>
    </variables>
    <variables>
        <name>SMS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
